@import "tailwindcss";

@theme {
  --font-sans:
    "Inter Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  font-family: "Inter Variable", sans-serif;

  @apply bg-white dark:bg-slate-900;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
